.gkits-reset-control {
	.components-flex {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.components-range-control {
		margin-bottom: 0 !important;
	}
	.components-number-control {
		margin-bottom: 0 !important;
	}
}
